.tweetbutton {
  background-color: blue;
  color: #f4f1ec;
  font-family: 'Bungee', cursive;
  
}

span.counter {
  font-family: 'Bungee', cursive;
  float: right;
}

form {
  align-content: center;
}

.textbox {
  background-color: #f4f1ec;
  border: 0;
  width: 30%;
  height: 35px;
  resize: none;
  min-width: 50%;
}

.newtweet {
  border: solid;
  border-width: 2px;
  margin-top: 20px;
  margin-bottom: 25px;
}

span.spanright {
  float: right;
}

.row {
 margin-left: 5%;
 margin-right: 5%;
}

.tweetcontent {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.date {
  font-size: 15px;
}

.tweeticon {
  height: 30px;
  width: 30px;
  margin-right: 15px;

}
